{% extends 'base.html' %}
{% load static %}

{% block title %} {{ request.user.username|upper }} | Change Password {% endblock %}

{% block body-class %} change-pw {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card change-pw">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Change Password</h2>
                        </div>
                        <div class="card-text">
                            <form method="POST" action="" class="form-change-pw">
                                {% csrf_token %}
                                {{ form.errors }}
                                {% for field in form.visible_fields %}
                                    <label>{{ field.label|title }}</label>
                                    {{ field }}
                                {% endfor %}
                                <div class="button">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="{% url 'profile' request.user.id %}"><button type="button" class="btn btn-primary">Cancel</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
