{% extends 'base.html' %}

{% block body-class %} confirm-delete {% endblock %}

{% block content %}
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h3 style="text-align: center;">Sure you want to delete your profile?</h3>
			<form method="POST" action="{% url 'deactivate' object.id %}">
				{% csrf_token %}
				<!-- <button type="submit">Yes</button> -->
				<div class="button">
					<button type="submit" class="btn btn-primary">Delete</button>
					<a href="{% url 'profile' object.id %}"><button type="button" class="btn btn-primary reset">Cancel</button></a>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <button type="button">Cancel</a></button> -->
{% endblock %}
